NodeRed/nodered.flow
[
    {
        "id": "c01d41a4.a2fbc",
        "type": "tab",
        "label": "TerraceLights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eee696f4.870868",
        "type": "mqtt in",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "topic": "qiot/things/admin/TerraceLights/stat/RESULT",
        "qos": "0",
        "broker": "d3759020.feff",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "e9338dd5.0c7b8",
                "1f0ea1aa.2bb1fe"
            ]
        ]
    },
    {
        "id": "e9338dd5.0c7b8",
        "type": "json",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "ad37e77d.d46168",
                "dc477746.f75a08",
                "b7a08e63.24c8b"
            ]
        ]
    },
    {
        "id": "5c958d95.42ead4",
        "type": "ui_switch",
        "z": "c01d41a4.a2fbc",
        "name": "Esquerra",
        "label": "Esquerra",
        "group": "c247a2c0.e9ce8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "1457aaab.84f9c5",
                "168de9f2.5b3bc6"
            ]
        ],
        "inputLabels": [
            "in_switch1"
        ],
        "outputLabels": [
            "out_switch1"
        ]
    },
    {
        "id": "ad37e77d.d46168",
        "type": "function",
        "z": "c01d41a4.a2fbc",
        "name": "TrPow1",
        "func": "if (msg.payload.SWITCH1 === \"1\") {\n    msg.payload = '1'\n}\nelse if (msg.payload.SWITCH1 === \"0\") {\n    msg.payload = '0'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "a39a4d9c.503e4",
                "5c958d95.42ead4"
            ]
        ]
    },
    {
        "id": "de1e4dc.a4448b",
        "type": "ui_switch",
        "z": "c01d41a4.a2fbc",
        "name": "Dreta",
        "label": "Dreta",
        "group": "c247a2c0.e9ce8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "c7ed882c.cef918",
                "8a6bc82c.cf90a8"
            ]
        ]
    },
    {
        "id": "dc477746.f75a08",
        "type": "function",
        "z": "c01d41a4.a2fbc",
        "name": "TrPow2",
        "func": "if (msg.payload.SWITCH2 === \"1\") {\n    msg.payload = '1'\n}\nelse if (msg.payload.SWITCH2 === \"0\") {\n    msg.payload = '0'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "927ced3e.3d1bd",
                "de1e4dc.a4448b"
            ]
        ]
    },
    {
        "id": "c7ed882c.cef918",
        "type": "mqtt out",
        "z": "c01d41a4.a2fbc",
        "name": "ControlPower2",
        "topic": "qiot/things/admin/TerraceLights/cmnd/POWER2",
        "qos": "0",
        "retain": "true",
        "broker": "d3759020.feff",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "a39a4d9c.503e4",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 760,
        "y": 40,
        "wires": []
    },
    {
        "id": "927ced3e.3d1bd",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "b7a08e63.24c8b",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "1f0ea1aa.2bb1fe",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "1457aaab.84f9c5",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 1000,
        "y": 40,
        "wires": []
    },
    {
        "id": "8a6bc82c.cf90a8",
        "type": "debug",
        "z": "c01d41a4.a2fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "168de9f2.5b3bc6",
        "type": "mqtt out",
        "z": "c01d41a4.a2fbc",
        "name": "ControlPower1",
        "topic": "qiot/things/admin/TerraceLights/cmnd/POWER1",
        "qos": "0",
        "retain": "true",
        "broker": "d3759020.feff",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3759020.feff",
        "type": "mqtt-broker",
        "z": "",
        "name": "TerraceLights",
        "broker": "10.1.1.1",
        "port": "21883",
        "clientid": "TerraceLights_1553995349",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c247a2c0.e9ce8",
        "type": "ui_group",
        "z": "",
        "name": "Terrassa",
        "tab": "f900b6a7.2a5d58",
        "disp": true,
        "width": "6"
    },
    {
        "id": "f900b6a7.2a5d58",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]
